<form class="formgrid grid mt-4 mr-2 flex flex-direction-column justify-content-center align-content-center"
  [formGroup]="myForm" (ngSubmit)="sendForm()">
  @if (myForm.invalid && myForm.touched) {
    <div class="bg-red-700 text-center col-12 mb-3 text-white">
      <p>{{ 'contact.error' | translate }}</p>
    </div>
  }
  <div class="col-12 md:col-6 col-offset-1 my-4">
    <h2 class="text-gray-700">{{ 'contact.title' | translate }}</h2>
  </div>

  <div class="field col-12 md:col-6 col-offset-1">
    <label for="name">{{ 'contact.name' | translate }}</label>
    <input id="name" type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
      formControlName="name" />
  </div>
  <div class="field col-12 md:col-6 col-offset-1">
    <label for="lastname">{{ 'contact.lastName' | translate }}</label>
    <input formControlName="lastName" id="lastname" type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>
  <div class="field col-12 md:col-6 col-offset-1">
    <label for="lastname">{{ 'contact.topic' | translate }}</label>
    <input formControlName="topic" id="lastname" type="text"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>

  <div class="field col-12 md:col-6 col-offset-1">
    <label for="email">{{ 'contact.email' | translate }}</label>
    <input formControlName="email" id="email" type="email"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" />
  </div>

  <div class="field col-12 md:col-6 col-offset-1">
    <label for="message">{{ 'contact.message' | translate }}</label>
    <textarea formControlName="message" id="message" type="text" rows="4"
      class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
  </div>

  <div class="col-12 md:col-6 col-offset-1 my-5">
    <p-button type="submit">{{ 'contact.send' | translate }}</p-button>
  </div>
</form>
