<div class="grid">
  <div class="col-12">
    <h1 class="text-center mt-8 text-6xl text-gray-700">{{ 'experience.title' | translate }}</h1>
  </div>
</div>

<div class="grid mt-5 text-gray-700">
  @for (job of jobs(); track job.key) {
    <div class="col-12">
      <p-card [header]="('experience.' + job.key + '.title') | translate" [subheader]="('experience.' + job.key + '.period') | translate">
        <ng-template pTemplate="header">
          <img [alt]="job.imageAlt" [src]="job.image" />
        </ng-template>

        @if (job.hasDescription) {
          <p class="text-gray-700">
            {{ ('experience.' + job.key + '.description') | translate }}
          </p>
        }

        @if (job.responsibilitiesKey) {
          <p class="text-gray-700">{{ job.responsibilitiesKey | translate }}</p>
        }

        <ul class="text-gray-700">
          @for (task of (('experience.' + job.key + '.tasks') | translate); track $index) {
            <li>{{ task }}</li>
          }
        </ul>
      </p-card>
    </div>
  }
</div>
