<section>
  <div class="grid">
    <div class="col-12 text-center text-gray-700 mt-8 p-4">
      <h1 class="text-6xl" [innerHTML]="'home.title' | translate"></h1>
      <h2>
        {{ 'home.subtitle' | translate }}
      </h2>
    </div>
    <div
      class="col-12 flex flex-wrap justify-content-center align-items-center"
    >
      <div>
        <img
          src="./assets/images/GuillermoAvatar.jpg"
          [alt]="'home.imgAlt' | translate"
          class="border-circle border-solid border-primary mt-5"
          style="width: 250px"
        />
      </div>
    </div>

    <div class="col-12 flex justify-content-center align-items-center">
      <img src="./assets/images/fondo.svg" alt="Imagen diseño" class="mt-6" />
    </div>
  </div>
</section>
