<section-one></section-one>
<section-two></section-two>

@defer (on idle) {
  <section id="experience">
    <experience></experience>
  </section>
} @placeholder (minimum 100ms) {
  <div class="section-placeholder" style="min-height: 200px"></div>
}

@defer (on idle) {
  <section id="technologies">
    <technologies></technologies>
  </section>
} @placeholder (minimum 100ms) {
  <div class="section-placeholder" style="min-height: 200px"></div>
}

@defer (on idle) {
  <section id="projects">
    <proyects></proyects>
  </section>
} @placeholder (minimum 100ms) {
  <div class="section-placeholder" style="min-height: 200px"></div>
}

@defer (on idle) {
  <section id="education">
    <credentials></credentials>
  </section>
} @placeholder (minimum 100ms) {
  <div class="section-placeholder" style="min-height: 200px"></div>
}
