/* Global styles */
body {
  font-family: Lato, Helvetica, sans-serif;
  width: 70%;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 490px) {
    width: 90%;
  }
}

* {
  user-select: none;
}
